@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


body, html {
    font-family: 'Roboto', sans-serif;
}

/* nav links */
.dm-sans {
    font-family: 'DM Sans', sans-serif;
}

@layer components {
  .btn-dark-oval {
    border-radius: 9999px;
    background-color: theme('colors.blue.900');
    padding-inline: theme('spacing.6');
    padding-block: theme('spacing.2');
    font-weight: theme('fontWeight.medium');
    color: theme('colors.white');
    transition: background-color 150ms;
    max-width: theme('maxWidth.sm');
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      @media (hover: hover) {
        background-color: theme('colors.blue.800');
      }
    }
  }
}
